.gridContainer {
  height: 400px;
  width: 600px;
}
.gridStyle {
  height: 100%;
}
.combo {
  width: 180px;
}
.filter-bar {
  margin-bottom: 1em;
}
.icon {
  color: #428bca;
}

.footer {
  border-top: 1px solid #ddd;
}
