.combo {
  width: 180px;
}
.filter-bar {
  margin-bottom: 1em;
}
.icon {
  color: #428bca;
}

.footer {
  border-top: 1px solid #ddd;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
